body{
  margin: 0;
}
.container{
  display: flex;
  justify-content: space-around;
}
.child{
  width:30%;
}
.a{
  background-color: red;
  height: 500px;
}
.b{
  background-color:lightblue;
  height: 200px;
}
.c{
  background-color: aqua;
  height: 500px;
  width:auto
}